* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  overflow-x: hidden;
}

.first-intro {
  background: url(images/1300x650-x1.5.png);
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.first-intro header {
  height: 115px;
  padding: 0 50px;
  display: flex;
  align-items: center;
  position: relative;
  justify-content: space-between;
}
.logo img {
  width: 230px;
}

.menu ul {
  display: flex;
  gap: 60px;
  list-style: none;
  align-items: center;
}

.menu ul li a {
  position: relative;
  text-decoration: none;
  color: #000;
  font-weight: 650;
  letter-spacing: 2.5px;
  font-size: 15px;
}

.menu ul li a::before {
  position: absolute;
  margin-right: 5px;
  left: -10px;
  top: -10px;
  transition: ease 0.3s;
  z-index: -1;
  content: " ";
  border-radius: 50%;
  width: 7px;
  height: 7px;
  background-color: #122c89;
}
.menu ul li a:hover::before {
  z-index: 1;
  top: 5px;
}

.section-one {
  display: flex;
  width: 100%;
  justify-content: center;
}
.section-content-intro {
  margin-top: 30px;
  color: #122c89;
  width: 1000px;
}
.section-content-intro h2 {
  font-size: 45px;
  margin-bottom: 20px;
}

.section-content-intro h1 {
  font-size: 110px;
  line-height: 110px;
  margin-bottom: 30px;
}
.section-content-intro button {
  width: 142px;
  height: 44px;
  font-size: 16px;

  border-radius: 50px;
  border: none;
  font-weight: 600;
  color: #122c89;
  box-shadow: 0 1.4px 5px #dbdbdb;
  background-color: #e4e4e4;
}
.section-content-intro :nth-child(3) {
  background-color: #122c89;

  color: #fff;
  transition: 0.3s;
}
.section-content-intro :nth-child(3):hover {
  background: #fff;
  color: #122c89;
  border: 2px solid #122c89;
  transform: scale(1.1);
}
.section-content-intro :nth-child(4) {
  transition: 0.3s;
  margin-left: 20px;
  width: 169px;
}
.section-content-intro :nth-child(4):hover {
  background: #122c89;
  color: #fff;

  transform: scale(1.1);
}

.second-header {
  width: 100%;
  display: flex;
  justify-content: center;
}

.second-header header nav {
  text-align: center;
  margin: 30px 0;
  p {
    font-size: 11px;
    color: #464545;
    letter-spacing: 1.5px;
  }
}

.second-header header img {
  width: 170px;
  margin-right: 20px;
}
.second-section .partner-img {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.second-section-botom {
  width: 100%;
  display: flex;
  justify-content: center;
}
.second-section-content {
  display: flex;
  margin-top: 50px;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  gap: 50px;
  margin-bottom: 30px;
}
.second-section-content-left {
  max-width: 500px;

  h5 {
    margin-bottom: 30px;
    font-size: 14px;
    color: #636363;
    font-weight: 550;
  }
  h1 {
    font-size: 50px;
    margin-bottom: 30px;
    span {
      color: #122c89;
    }
  }
  p {
    margin-bottom: 20px;
    font-size: 17px;
    color: #585858;
    line-height: 30px;
  }

  button {
    width: 179px;
    border: none;
    border-radius: 5px;
    height: 44px;
    color: #fff;
    font-weight: 550;
    text-transform: uppercase;
    font-size: 17px;
    letter-spacing: 1.5px;
    background: #122c89;
    transition: 0.3s;
  }
  button:hover {
    transform: scale(1.1);
  }
}

.second-section-content-right {
  img {
    max-width: 580px;
    transition: 0.4s;
  }
  img:hover {
    transform: scale(0.95);
  }
}

/*thard section*/

.thard-section-content {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
  align-items: center;
  width: 100%;
  justify-content: space-around;
  height: 170px;
  background: #e6ecfb;
}
.thard-section-content-left {
  h1 {
    font-size: 50px;
    color: #122c89;
  }
}
.thard-section-content-right {
  width: 300px;
  button {
    width: 220px;
    height: 60px;
    background: #122c89;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    color: #fff;
    transition: 0.3s;
    letter-spacing: 1.5px;
  }

  button:hover {
    transform: scale(1.1);
  }
}

/*fourth section*/
.fourth-section-title {
  text-align: center;
  margin-bottom: 50px;
  h1 {
    font-size: 32px;
    color: #122c89;
  }
}

.fourth-section-team {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
}
.fourth-section-teams-detals {
  width: 100%;
  justify-content: center;
  padding: 0 40px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;

  h4,
  p {
    margin-bottom: 10px;
  }
  a {
    display: block;
    margin-top: 10px;
    text-decoration: none;
    color: #000;
  }
  a:hover {
    color: rgb(0, 103, 238);
  }

  button {
    width: 220px;
    height: 44px;
    position: absolute;
    bottom: 160px;
    right: 43%;
    background: #122c89;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    letter-spacing: 1.5px;
    transition: 0.3s;
  }
  button:hover {
    transform: scale(1.1);
  }
}
.team-membar img {
  max-width: 350px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.five-siction {
  display: flex;
  flex-wrap: wrap-reverse;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.five-siction-left {
  padding: 20px;
  max-width: 600px;

  .Digital {
    margin-bottom: 10px;
    font-size: 12px;
    color: #464545;
    letter-spacing: 1.5px;
  }

  h1 {
    font-size: 50px;
    span {
      color: #122c89;
    }
  }

  .p {
    color: #585858;
    line-height: 25px;
    font-size: 15px;
  }
}

.five-siction-right {
  padding: 20px;
  img {
    border-radius: 10px;

    max-width: 650px;
  }
}

.six-section {
  background-color: #f2f3ee;
  margin: 20px 0;
  padding: 30px;
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  p {
    text-align: center;

    font-size: 12px;
    letter-spacing: 1.5px;
    color: #464545;
  }
}
.six-section-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
}
.sic-content {
  padding-right: 30px;
  max-width: 880px;
  margin-top: 50px;

  h2 {
    font-style: italic;
    font-weight: 450;
    margin-bottom: 30px;
  }
  h4 {
    margin-bottom: 5px;
  }
  span {
    letter-spacing: 1.5px;
    font-size: 11px;
    color: #585858;
    text-transform: uppercase;
    padding-bottom: 20px;
  }
}

.seven-section {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: center;
  align-items: center;
  gap: 160px;
  padding: 20px;

  img {
    max-width: 600px;
    border-radius: 10px;
  }
}
.seven-section-content {
  max-width: 550px;

  .p1 {
    margin-bottom: 10px;
    letter-spacing: 1px;
    font-size: 13px;
    color: #3a3a3a;
  }
  h1 {
    font-size: 50px;
    line-height: 50px;
    margin-bottom: 15px;
    span {
      color: #122c89;
    }
  }
  .p2 {
    color: #585858;
    line-height: 25px;
  }
}
footer .logo1 img {
  width: 300px;
}
footer {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 200px 0;
  background: #fafafa;
}

.footer-main-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.footer-content {
  display: flex;
  gap: 200px;
  justify-content: center;
  border-bottom: 2px solid #122c89;
  padding-bottom: 40px;
}
.f-content1 {
  h3 {
    font-size: 25px;
  }
  p {
    margin: 15px 0;
    letter-spacing: 1.5px;
    font-size: 12px;
    color: #636363;
  }
  button {
    display: block;
    margin-top: 20px;
    width: 120px;
    height: 40px;
  }
  i {
    max-width: 25px;
    max-height: 25px;
    font-size: 14px;
    border-radius: 50px;
    padding: 10px;
    border: 1px solid #bbbbbb;
  }
}
.footer-content1 {
  display: flex;
  justify-content: center;
  gap: 80px;
  margin-top: 100px;
}

/* slidbar */

#slidbar {
  position: fixed;
  padding: 100px;

  background-color: #e9e9e9;
  width: 25%;
  min-height: 95vh;
  right: -100%;
  z-index: 99;
  transition: ease-in-out 0.5s;
}

.slidbar-content {
  height: 95vh;
  display: flex;
  justify-content: start;

  align-items: center;
}
/* #menu-hidden {
  display: none;
} */

.faq2 {
  position: absolute;
  right: 50px;
  top: 50px;
  font-size: 30px;
}
.menubtn {
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  font-size: 30px;
}

.menubtn #menu-icon {
  display: none;
}

.slidbar-bottm-c {
  span {
    color: #636363;
  }

  p {
    margin-bottom: 40px;
  }
}
.slid-icons {
  margin-bottom: 50px;
  margin-top: 10px;
  i {
    font-size: 20px;
    margin-right: 10px;
  }
}

/* resposive */

@media (width<1200px) {
  #slidbar {
    display: none;
  }
  .menubtn #menu-hidden {
    display: none;
  }
  .menubtn #menu-icon {
    display: block;
  }



.menu ul {

  width: 100%;
  position: absolute;
  flex-direction: column;
  background-color: #f3f3f3;
  left: 0;
  /* top: 100px; */
  gap: 20px;
  top: -500%;
  padding: 40px 0;
  transition: ease-in-out 0.7s;
}

.section-content-intro {
  margin-left: 30px;
}
.section-content-intro h2 {
  font-size: 35px;
}

.section-content-intro h1 {
  font-size: 70px;
  line-height: 70px;
  margin-bottom: 30px;
}

/*thard section*/

.thard-section-content {
  height: 250px;
}
.thard-section-content-left {
  text-align: center;
}
.thard-section-content-right {
  margin-left: 80px;
}

/* fourt section */
.fourth-section-teams-detals {
  margin-bottom: 40px;
}

.fourth-section-teams-detals :nth-child(5) {
  display: none;
}
.fourth-section-teams-detals :nth-child(6) {
  display: none;
}

.fourth-section-teams-detals button {
  left: 59.5%;
}
footer .logo1 img {
  width: 750px;
}
footer {
  padding: 100px;
}
.footer-content {
  gap: 100px;
}
}
@media (width<820px) {
  .fourth-section-teams-detals button {
    left: 36%;
  }

  footer .logo1 img {
    width: 600px;
  }
  footer {
    padding: 60px;
  }
  .footer-content {
    gap: 50px;
  }
}

@media (width<600px) {
  .second-section-content-left {
    max-width: 300px;
  }
  .second-section-content-right img {
    max-width: 300px;
  }

  .fourth-section-teams-detals button {
    left: 28%;
  }

  .five-siction-left {
    max-width: 350px;
  }
  .five-siction-right img {
    max-width: 350px;
  }

  .six-section- p {
    font-size: 9px;
  }
  .sic-content h2 {
    font-size: 20px;
  }
  .sic-content span {
    font-size: 9px;
  }
  /* seven section */

  .seven-section {
    gap: 40px;
  }
  .seven-section img {
    width: 300px;
  }

  .seven-section-content {
    width: 300px;
  }
  footer {
    justify-content: start;
  }
  footer .logo1 img {
    width: 400px;
  }
  .footer-content,
  .footer-content1 {
    width: 100%;
    gap: 30px;
    flex-direction: column;
  }
}
